body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logo {
  width: 400px;
  height: auto;
  margin: 1.5rem 0;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  margin: 1.5rem;
}

h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 1.5rem;
  color: #FF64A1;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 1.5rem;
}

.question-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


figure p {
  font-weight: bold;
  text-transform: uppercase;
}

#optionA {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #FF64A1;
  border-radius: 10px;
}

#optionA img {
  width: 250px;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#optionB {
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid #FF64A1;
  border-radius: 10px;
}

#optionB img {
  width: 250px;
  height: auto;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

p {
  text-align: center;
  margin: 1.5rem;
}
/* @media screen and (min-width: 600px) {
} */

/* @media screen and (min-width: 1240px) {
} */